.am-btn-search{
    width:10%;
    height:38px;
    float:right;
}

.am-input-search{
    width:80%;
    height:38px;
    padding: 0 1em;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 36px;
    color: #555555;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    border-radius: 0;



}
.am-input-bar{
    width:10%;
    height:38px;
    float:left;
    padding: 0 1em;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 36px;
    color: #555555;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    border-radius: 0;

}
.am-input-bar2{
    width:10%;
    height:38px;
    float:left;
    padding: 0 1em;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 36px;
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 0;
    margin-bottom:10px;
}


.am-input-bar-option{
    height:38px;
    padding: 0 1em;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 36px;
    color: #555555;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    border-radius: 0;

}
.am-input-bar-option2{
    height:38px;
    padding: 0 1em;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 36px;
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 0;

}

.am-input-search-box{
    background-color: #ffffff;
}

.am-img-sdu{
    height:120px;
    width:480px;
    display:block;
    margin-left:20px;
}

.am-help-btn{
    float:right;
    text-align:center;
    margin:auto;
}

.am-bk{
    width:100%;
    border:none;
    outline: none;
    display: block;
    padding: 6px 20px;
    /*clear: both;*/
    font-weight: normal;
    color: #333333;
    white-space: nowrap;
    text-align: left;
    line-height: 1.6;
    background-color: #ffffff;

    border-radius: 0;
}

.am-date{
    text-align:center;
    float:left;
    background-color: #ffffff;
    border:none;
    outline: none;
    margin-top:1.02rem;


}
.am-date2{
    text-align:center;
    float:left;
    line-height:50px;
}

.am-message{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical
}
