<!------------------------------------------------------------------------------
页面说明：
没什么特征的404页面；
********************************************************************************
written by coppelia from CCID SDU.
-------------------------------------------------------------------------------->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
          name="viewport">
    <title>404 not found</title>

    <!-- Set render engine for 360 browser -->
    <meta content="webkit" name="renderer">

    <!-- No Baidu Siteapp-->
    <meta content="no-siteapp" http-equiv="Cache-Control"/>

    <link href="../static/i/favicon.png" rel="icon" type="image/png">

    <!-- Add to homescreen for Chrome on Android -->
    <meta content="yes" name="mobile-web-app-capable">
    <link href="../static/i/app-icon72x72@2x.png" rel="icon" sizes="192x192">

    <!-- Add to homescreen for Safari on iOS -->
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="Amaze UI" name="apple-mobile-web-app-title"/>
    <link href="../static/i/app-icon72x72@2x.png" rel="apple-touch-icon-precomposed">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta content="../static/i/app-icon72x72@2x.png" name="msapplication-TileImage">
    <meta content="#0e90d2" name="msapplication-TileColor">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->
    <link href="../static/css/amazeui.min.css" rel="stylesheet">
    <link href="../static/css/app.css" rel="stylesheet">
    <link href="../static/css/extra.css" rel="stylesheet">
</head>
<body>
<div id="Layer1" style="position:fixed; left:0px; top:0px; width:100%; height:100%">
    <img src="../static/i/404.png" width="1920" height="1080"/>
</div>



</body>
</html>