<!------------------------------------------------------------------------------
页面说明：
本页面为index页面的测试页面，供调试使用。
********************************************************************************
written by coppelia from CCID SDU.
-------------------------------------------------------------------------------->
<!DOCTYPE html>

<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Web Data Manage ">
        <meta name="keywords" content="second,trade,p2p">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="renderer" content="webkit|ie-comp|ie-stand">
        <meta http-equiv="Cache-Control" content="no-siteapp">

        <title>专利搜索引擎</title>

        <link rel="icon" type="image" href="../static/i/favicon.jpg">
        <link rel="stylesheet" href="../static/css/amazeui.min.css">
  		<link rel="stylesheet" href="../static/css/admin.css">

        <style>
            html{
                min-width: 600px;
            }
            body{
                background:url(../static/i/background.jpg) no-repeat;
                background-size:100% 100%;
            }
            a{
                cursor: pointer;
            }


            #top{
                margin-top: 50px
            }
            #labels{
                margin-left: 20%;
                margin-top: 20px
            }
        </style>

        <script src="../static/js/jquery-3.3.1.js"></script>
        <script src="../static/js/amazeui.js"></script>
        <script src="../static/js/verify.js"></script>
        
        

    </head>

    <body>
        
		<header class="am-topbar am-topbar-inverse admin-header">
		  <div class="am-topbar-brand">
		    <strong>专利</strong> <small>检索</small>
		  </div>
		  <div class="am-topbar-right" id="doc-topbar-collapse">
		  	
		  </div>
		  
		</header>
		
        <div class="am-cf admin-main">
        
        <!-- content start -->
  		<div class="admin-content">
    		<div class="admin-content-body">
				
			    <hr>
      			  <form action="/search?page=0" class="" role="search" method="get">
      			  
      				<div class="am-g am-margin-top">
      				    <div class="am-u-sm-12 am-u-md-1">
      					  <select name="search_accurancy" data-am-selected="{btnWidth: '100%', btnSize: 'sm', btnStyle: 'am-btn am-btn-default'}">
			                <option value="FUZZY">模糊</option>
			                <option value="ACCURATE">精确</option>
			                <option value="SINGLE_WORD">单字</option>
			                <option value="DOUBLE_WORD">二切分</option>
			              </select>
      					</div>
      					<div class="am-u-sm-12 am-u-md-1">
      					  <select name="field" data-am-selected="{btnWidth: '100%', btnSize: 'sm', btnStyle: 'am-btn am-btn-default'}">
			                <option value="ALL">多域</option>
			                <option value="TITLE">标题</option>
			                <option value="ABSTRACT">摘要</option>
			                <option value="APPLICANT">申请人</option>
			                <option value="ID">专利号</option>
			                <option value="INVENTOR">发明者</option>
			                <option value="ADDRESS">地区</option>
			              </select>
      					</div>
	      			    <div style="float:left" class="am-u-sm-12 am-u-md-10">
				          <div class="am-input-group am-input-group-sm">
				            <input type="text" name="keyWords" class="am-form-field" placeholder="键入索引词">
				          <span class="am-input-group-btn">
				            <button type="submit" class="am-btn am-btn-default">搜索</button>
				          </span>
				          </div>
				        </div>
			        </div>
			        
			        <hr>
			        
			        <div class="am-g">
	      				<div class="am-u-sm-12 am-u-md-3">
				          <div class="am-form-group">
				            <select name="sort_type" data-am-selected="{btnSize: 'sm'}">
				              <option value="COMPREHENSIVENESS">综合查询</option>
				              <option value="RELEVANCE">相关优先</option>
				              <option value="PROSPECTIVENESS">权威优先</option>
				            </select>
				          </div>
				        </div>
				        <div class="am-u-sm-12 am-u-md-3">
				          <div class="am-form-group">
				            <select name="is_granted" data-am-selected="{btnSize: 'sm'}">
				              <option value="NO_LIMIT">无限制</option>
				              <option value="GRANTED">查已授权</option>
				              <option value="NOT_GRANTED">查未授权</option>
				            </select>
				          </div>
				        </div>
				        <div class="am-u-sm-12 am-u-md-3">
				          <div class="am-form-group">
				            <select name="pinyin" data-am-selected="{btnSize: 'sm'}">
				              <option value="NO_LIMIT">无限制</option>
				              <option value="A">A</option>
				              <option value="B">B</option>
				              <option value="C">C</option>
				              <option value="D">D</option>
				              <option value="E">E</option>
				              <option value="F">F</option>
				              <option value="G">G</option>
				              <option value="H">H</option>
				              <option value="I">I</option>
				              <option value="J">J</option>
				              <option value="K">K</option>
				              <option value="L">L</option>
				              <option value="M">M</option>
				              <option value="N">N</option>
				              <option value="O">O</option>
				              <option value="P">P</option>
				              <option value="Q">Q</option>
				              <option value="R">R</option>
				              <option value="S">S</option>
				              <option value="T">T</option>
				              <option value="U">U</option>
				              <option value="V">V</option>
				              <option value="W">W</option>
				              <option value="X">X</option>
				              <option value="Y">Y</option>
				              <option value="Z">Z</option>
				            </select>
				          </div>
				        </div>
				        
				        <div class="am-u-sm-12 am-u-md-3">
				          <div class="am-input-group am-input-group-sm">
				            <input type="text" name="time_from" class="am-form-field" placeholder="开始日期"  data-am-datepicker readonly required />
				          </div>
				        </div>
				        
				        <div class="am-u-sm-12 am-u-md-3">
				          <div class="am-input-group am-input-group-sm">
				            <input type="text" name="time_to" class="am-form-field" placeholder="结束日期"  data-am-datepicker readonly required />
				          </div>
				        </div>
			    	</div>
			      </form>
      			
		    </div>
			<footer class="admin-content-footer">
	    		<hr>
	    		<p class="am-padding-left">Designed by SDU YangTao</p>
	  		</footer>
		</div>
		</div>
    </body>
</html>