<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>专利检索展示</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="icon" type="image/png" href="../static/i/favicon.png">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="../static/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="../static/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileImage" content="../static/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#0e90d2">
  <link rel="stylesheet" href="../static/css/amazeui.min.css">
  <link rel="stylesheet" href="../static/css/app.css">
  <link rel="stylesheet" href="../static/css/extra.css">
</head>

<body id="blog">


<header class="am-g am-g-fixed blog-fixed blog-text-center blog-header">
    <!--div style="width: 100%">
        <img src="../static/i/sdu.jpg" alt="" class="am-img-sdu">
    </div>
    <br-->
    <div style="text-align:left">
        <h1 class="am-color">&nbsp;Patent Search&nbsp;专利搜索</h1>
    </div>
    <div class=" am-u-lg-12 am-u-md-7 am-u-sm-8 am-u-sm-centered">
        <!--img width="200" src="http://s.amazeui.org/media/i/brand/amazeui-b.png" alt="Amaze UI Logo"/-->

        <div class="am-radius">

            <br>
            <div style="display:block" >
                <select id="wordCutGrade" name="search_accurancy" class="am-input-bar2">
                    <option value="FUZZY">模糊</option>
                    <option value="ACCURATE">精确</option>
                    <option value="SINGLE_WORD">单字</option>
                    <option value="DOUBLE_WORD">二切分</option>
                </select>

                <!--下拉框选项保留 -->
                <script>
                    var numbers = $("#sBar").find("option"); //获取select下拉框的所有值
                    for (var j = 0; j < numbers.length; j++) {
                        if ($(numbers[j]).val() === sessionStorage.getItem('sBarValue')) {
                            $(numbers[j]).porp("selected", sessionStorage.getItem('sBarValue'));
                        }
                    }

                </script>

                <input  id="search-bar" class="am-radius am-input-search am-input-search-box" onkeydown="keyCheck(event)" placeholder="请输入需要搜索的专利关键词" required/>
                <button type="submit" class="am-btn am-btn-search am-btn-primary am-radius ">搜索</button>
            </div>
        </div>
    </div>
</header>
<hr>
<nav class="am-g am-g-fixed blog-fixed blog-nav">
    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only blog-button" data-am-collapse="{target: '#blog-collapse'}" ><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="blog-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav">

            <li id="comprehensive" value="NO_LIMIT" class="am-dropdown" data-am-dropdown>
                <a id="comprehensive1" class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;" >
                    综合查询 <span class="am-icon-caret-down"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><button class="am-bk" onclick="display(this.innerHTML,this.value) " value="COMPREHENSIVENESS">综合查询</button></li>
                    <li><button class="am-bk" onclick="display(this.innerHTML,this.value)" value="RELEVANCE">相关优先</button></li>
                    <li><button class="am-bk" onclick="display(this.innerHTML,this.value)" value="PROSPECTIVENESS">权威优先</button></li>
                </ul>
            </li>

            <script>
                if(sessionStorage.getItem('comHtml') != null) {
                    document.getElementById("comprehensive1").innerHTML = sessionStorage.getItem('comHtml')+" <span class=\"am-icon-caret-down\"></span>";
                    document.getElementById("comprehensive").value = sessionStorage.getItem('comValue');
                }
            </script>

            <li id="limit" value="NO_LIMIT" class="am-dropdown" data-am-dropdown>
                <a id="limit1" class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                    授权限制 <span class="am-icon-caret-down"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><button class="am-bk" onclick="display2(this.innerHTML,this.value)" value="NO_LIMIT">不限授权</button></li>
                    <li><button class="am-bk" onclick="display2(this.innerHTML,this.value)" value="GRANTED">查已授权</button></li>
                    <li><button class="am-bk" onclick="display2(this.innerHTML,this.value)" value="NOT_GRANTED">查未授权</button></li>
                </ul>
            </li>


            <script>
                if(sessionStorage.getItem('limHtml') != null) {
                    document.getElementById("limit1").innerHTML = sessionStorage.getItem('limHtml')+" <span class=\"am-icon-caret-down\"></span>";
                    document.getElementById("limit").value = sessionStorage.getItem('limValue');
                }
            </script>


            <li id="FirstLetter" value="NO_LIMIT" class="am-dropdown" data-am-dropdown>
                <a id="FirstLetter1" class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                    姓名首字母 <span class="am-icon-caret-down"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><button class="am-bk" onclick="display3(this.innerHTML,this.value)" value="NO_LIMIT">不限首字母</button></li>
                    <li><button class="am-bk" onclick="display3(this.innerHTML,this.value)" value="A">A</button></li>
                    <li><button class="am-bk" onclick="display3(this.innerHTML,this.value)" value="B">B</button></li>
                    <li><button class="am-bk" onclick="display3(this.innerHTML,this.value)" value="C">C</button></li>
                    <li><button class="am-bk" onclick="display3(this.innerHTML,this.value)" value="D">D</button></li>
                    <li><button class="am-bk" onclick="display3(this.innerHTML,this.value)" value="E">E</button></li>
                    <li><button class="am-bk" onclick="display3(this.innerHTML,this.value)" value="F">F</button></li>
                    <li><button class="am-bk" onclick="display3(this.innerHTML,this.value)" value="G">G</button></li>
                    <li><button class="am-bk" onclick="display3(this.innerHTML,this.value)" value="H">H</button></li>
                    <li><button class="am-bk" onclick="display3(this.innerHTML,this.value)" value="I">I</button></li>
                    <li><button class="am-bk" onclick="display3(this.innerHTML,this.value)" value="J">J</button></li>
                    <li><button class="am-bk" onclick="display3(this.innerHTML,this.value)" value="K">K</button></li>
                    <li><button class="am-bk" onclick="display3(this.innerHTML,this.value)" value="L">L</button></li>
                    <li><button class="am-bk" onclick="display3(this.innerHTML,this.value)" value="M">M</button></li>
                    <li><button class="am-bk" onclick="display3(this.innerHTML,this.value)" value="N">N</button></li>
                    <li><button class="am-bk" onclick="display3(this.innerHTML,this.value)" value="O">O</button></li>
                    <li><button class="am-bk" onclick="display3(this.innerHTML,this.value)" value="P">P</button></li>
                    <li><button class="am-bk" onclick="display3(this.innerHTML,this.value)" value="Q">Q</button></li>
                    <li><button class="am-bk" onclick="display3(this.innerHTML,this.value)" value="R">R</button></li>
                    <li><button class="am-bk" onclick="display3(this.innerHTML,this.value)" value="S">S</button></li>
                    <li><button class="am-bk" onclick="display3(this.innerHTML,this.value)" value="T">T</button></li>
                    <li><button class="am-bk" onclick="display3(this.innerHTML,this.value)" value="U">U</button></li>
                    <li><button class="am-bk" onclick="display3(this.innerHTML,this.value)" value="V">V</button></li>
                    <li><button class="am-bk" onclick="display3(this.innerHTML,this.value)" value="W">W</button></li>
                    <li><button class="am-bk" onclick="display3(this.innerHTML,this.value)" value="X">X</button></li>
                    <li><button class="am-bk" onclick="display3(this.innerHTML,this.value)" value="Y">Y</button></li>
                    <li><button class="am-bk" onclick="display3(this.innerHTML,this.value)" value="Z">Z</button></li>

                </ul>
            </li>

            <script>
                if(sessionStorage.getItem('letHtml') != null) {
                    document.getElementById("FirstLetter1").innerHTML = sessionStorage.getItem('letHtml')+" <span class=\"am-icon-caret-down\"></span>";
                    document.getElementById("FirstLetter").value = sessionStorage.getItem('letValue');
                }
            </script>

            <li id="zone" value="ALL" class="am-dropdown" data-am-dropdown>
                <a id="zone1" class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                    多域 <span class="am-icon-caret-down"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><button class="am-bk" onclick="display4(this.innerHTML,this.value)" value="ALL">多域</button></li>
                    <li><button class="am-bk" onclick="display4(this.innerHTML,this.value)" value="TITLE">标题</button></li>
                    <li><button class="am-bk" onclick="display4(this.innerHTML,this.value)" value="ABSTRACT">摘要</button></li>
                    <li><button class="am-bk" onclick="display4(this.innerHTML,this.value)" value="APPLICANT">申请人</button></li>
                    <li><button class="am-bk" onclick="display4(this.innerHTML,this.value)" value="ID">专利号</button></li>
                    <li><button class="am-bk" onclick="display4(this.innerHTML,this.value)" value="INVENTOR">发明者</button></li>
                    <li><button class="am-bk" onclick="display4(this.innerHTML,this.value)" value="ADDRESS">地区</button></li>
                </ul>
            </li>

            <script>
                if(sessionStorage.getItem('zoneHtml') != null) {
                    document.getElementById("zone1").innerHTML = sessionStorage.getItem('zoneHtml')+" <span class=\"am-icon-caret-down\"></span>";
                    document.getElementById("zone").value = sessionStorage.getItem('zoneValue');
                }
            </script>

            <li class="am-dropdown" data-am-dropdown>
                <a id="date1">
                    <input id="d1" type="text" name="time_from" class="am-date" placeholder="开始日期"  data-am-datepicker readonly required /> <span class="am-icon-caret-down"></span>
                </a>
            </li>
            <li class="am-date2">到</li>
            <li class="am-dropdown" data-am-dropdown>
                <a id="date2">
                    <input id="d2" type="text" name="time_to" class="am-date" placeholder="结束日期"  data-am-datepicker readonly required /><span class="am-icon-caret-down"></span>
                </a>
            </li>
        </ul>



        <!--form class="am-topbar-form am-topbar-right am-form-inline" role="search">
          <div class="am-form-group">
            <input type="text" class="am-form-field am-input-sm" placeholder="搜索">
          </div>
        </form-->
    </div>
</nav>
<hr>


<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed">
    <div class="am-u-md-8 am-u-sm-12">

        <article th:each="m : ${patentsForView.patents}" class="am-g blog-entry-article">

            <div class="am-u-md-12 am-u-sm-12 blog-entry-text">
                <strong><span><a th:text="'专利号：'+${m.}+ '&nbsp;'" id="pn" href="" class="am-color1">专利号：CN105874434A &nbsp;</a></span></strong>
                <strong><span th:text="'授权状态：'+${m.}+ '&nbsp;'" class="am-color1" id="authorization" style="float:right;">未授权 &nbsp;</span></strong>
                <span th:text="'年份:'+${m.}+ '&nbsp;'" id="year" style="float:right;">年份:2016 &nbsp;</span>

                <h1><a th:text="${m.}" href="">比特重映射系统</a></h1>
                <p th:text="${m.}" class="am-message">一种方法包括在计数器处存储指示在与第一地址相关联的数据中检测到比特差错的读操作的计数的第一值。该方法进一步包括响应于第一值超过第一阈值，使用耦合至存储器阵列的控制器来将第一地址重映射到第二地址。第一地址对应于存储器阵列的第一元件。第二地址对应于被包括在控制器内的存储器处的第二元件。重映射第一地址包括响应于接收到对位于第一地址处的数据的第一读请求，将从第一元件读取的第一值替换成从第二元件读取的第二值。
                </p>
                <span th:text="'申请人:'+${m.}" style="float:left;">申请单位:高通股份有限公司</span>
                <span th:text="'作者:'+${m.}+ '&nbsp;'" id="author" style="float:right;">权利人:X·董;J·P·金;M·赛义夫丁; &nbsp;</span>
            </div>
        </article>

        
        
        <ul class="am-pagination">
  <li class="am-pagination-prev"><a th:href="@{http://localhost:8080/search(search_accurancy=${search_Accuracy},keyWords=${keyWords},page=${page}-1,pinyin=${pinyin},time_from=${time_from},time_to=${time_to},is_granted=${is_granted},sort_type=${sort_type},field=${field})}">&laquo; Prev</a></li>
            <li class="am-active"><a th:text="${page}" href="#"></a></li>
            <li><a th:text="${page}+1" th:href="@{http://localhost:8080/search(search_accurancy=${search_Accuracy},keyWords=${keyWords},page=${page}+1,pinyin=${pinyin},time_from=${time_from},time_to=${time_to},is_granted=${is_granted},sort_type=${sort_type},field=${field})}"></a></li>
            <li><a th:text="${page}+2" th:href="@{http://localhost:8080/search(search_accurancy=${search_Accuracy},keyWords=${keyWords},page=${page}+2,pinyin=${pinyin},time_from=${time_from},time_to=${time_to},is_granted=${is_granted},sort_type=${sort_type},field=${field})}"></a></li>
            <li><a th:text="${page}+3" th:href="@{http://localhost:8080/search(search_accurancy=${search_Accuracy},keyWords=${keyWords},page=${page}+3,pinyin=${pinyin},time_from=${time_from},time_to=${time_to},is_granted=${is_granted},sort_type=${sort_type},field=${field})}"></a></li>
            <li><a th:text="${page}+4" th:href="@{http://localhost:8080/search(search_accurancy=${search_Accuracy},keyWords=${keyWords},page=${page}+4,pinyin=${pinyin},time_from=${time_from},time_to=${time_to},is_granted=${is_granted},sort_type=${sort_type},field=${field})}"></a></li>
            <li><a th:text="${page}+5" th:href="@{http://localhost:8080/search(search_accurancy=${search_Accuracy},keyWords=${keyWords},page=${page}+5,pinyin=${pinyin},time_from=${time_from},time_to=${time_to},is_granted=${is_granted},sort_type=${sort_type},field=${field})}"></a></li>
            <li><a th:text="${page}+6" th:href="@{http://localhost:8080/search(search_accurancy=${search_Accuracy},keyWords=${keyWords},page=${page}+6,pinyin=${pinyin},time_from=${time_from},time_to=${time_to},is_granted=${is_granted},sort_type=${sort_type},field=${field})}"></a></li>
            <li><a th:text="${page}+7" th:href="@{http://localhost:8080/search(search_accurancy=${search_Accuracy},keyWords=${keyWords},page=${page}+7,pinyin=${pinyin},time_from=${time_from},time_to=${time_to},is_granted=${is_granted},sort_type=${sort_type},field=${field})}"></a></li>
            <li><a th:text="${page}+8" th:href="@{http://localhost:8080/search(search_accurancy=${search_Accuracy},keyWords=${keyWords},page=${page}+8,pinyin=${pinyin},time_from=${time_from},time_to=${time_to},is_granted=${is_granted},sort_type=${sort_type},field=${field})}"></a></li>
            <li><a th:text="${page}+9" th:href="@{http://localhost:8080/search(search_accurancy=${search_Accuracy},keyWords=${keyWords},page=${page}+9,pinyin=${pinyin},time_from=${time_from},time_to=${time_to},is_granted=${is_granted},sort_type=${sort_type},field=${field})}">&raquo;</a></li>
  <li class="am-pagination-next"><a th:href="@{http://localhost:8080/search(search_accurancy=${search_Accuracy},keyWords=${keyWords},page=${page}+1,pinyin=${pinyin},time_from=${time_from},time_to=${time_to},is_granted=${is_granted},sort_type=${sort_type},field=${field})}">Next &raquo;</a></li>
</ul>
    </div>


    <div class="am-u-md-4 am-u-sm-12 blog-sidebar">

        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-title"><span>Refine</span></h2>
            <ul class="am-list" style="text-align:left;">
                <li><a href="#">最近一年</a></li>
                <li><a href="#">最近三年</a></li>
                <li><a href="#">最近五年</a></li>
                <li><a href="#">最近十年</a></li>
            </ul>
        </div>
    </div>
    <div class="am-u-md-4 am-u-sm-12 blog-sidebar">



        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-title"><span>近义搜索结果</span></h2>
            <ul class="am-list" style="text-align:left;">
                <li><a href="#">近义词链接模板1</a></li>
                <li><a href="#">近义词链接模板2</a></li>
                <li><a href="#">近义词链接模板3</a></li>
                <li><a href="#">近义词链接模板4</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- content end -->


 <footer class="blog-footer">
    <div class="am-g am-g-fixed blog-fixed am-u-sm-centered blog-footer-padding">
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
            <h3>模板简介</h3>
            <p class="am-text-sm">这是一个使用amazeUI做的简单的前端模板。<br> 博客/ 资讯类 前端模板 <br> 支持响应式，多种布局，包括主页、文章页、媒体页、分类页等<br>嗯嗯嗯，不知道说啥了。外面的世界真精彩<br><br>
            Amaze UI 使用 MIT 许可证发布，用户可以自由使用、复制、修改、合并、出版发行、散布、再授权及贩售 Amaze UI 及其副本。</p>
        </div>
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
            <h3>社交账号</h3>
            <p>
                <a href=""><span class="am-icon-qq am-icon-fw am-primary blog-icon blog-icon"></span></a>
                <a href=""><span class="am-icon-github am-icon-fw blog-icon blog-icon"></span></a>
                <a href=""><span class="am-icon-weibo am-icon-fw blog-icon blog-icon"></span></a>
                <a href=""><span class="am-icon-reddit am-icon-fw blog-icon blog-icon"></span></a>
                <a href=""><span class="am-icon-weixin am-icon-fw blog-icon blog-icon"></span></a>
            </p>
            <h3>Credits</h3>
            <p>我们追求卓越，然时间、经验、能力有限。Amaze UI 有很多不足的地方，希望大家包容、不吝赐教，给我们提意见、建议。感谢你们！</p>          
        </div>
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
              <h1>我们站在巨人的肩膀上</h1>
             <h3>Heroes</h3>
            <p>
                <ul>
                    <li>jQuery</li>
                    <li>Zepto.js</li>
                    <li>Seajs</li>
                    <li>LESS</li>
                    <li>...</li>
                </ul>
            </p>
        </div>
    </div>    
    <div class="blog-text-center">© 2015 AllMobilize, Inc. Licensed under MIT license. Made with love By LWXYFER</div>    
  </footer>


<script>

    var searchBar = document.getElementById("search-bar");
    // 检测是否存在 autosave 键值
    // (这个会在页面偶然被刷新的情况下存在)
    if (sessionStorage.getItem("autosave")) {
        // 恢复文本输入框的内容
        searchBar.value = sessionStorage.getItem("autosave");

    }
    // 监听文本输入框的 change 事件
    searchBar.addEventListener("change", function() {
        // 保存结果到 sessionStorage 对象中
        sessionStorage.setItem("autosave", searchBar.value);
    });




    function display(innerHtml,value){
        document.getElementById("comprehensive1").innerHTML=innerHtml+" <span class=\"am-icon-caret-down\"></span>";
        document.getElementById("comprehensive").value=value;
        sessionStorage.setItem('comValue',value);
        sessionStorage.setItem('comHtml',innerHtml);
        <!--测试代码-->
        console.log(sessionStorage.getItem('comHtml')+"display方法显示")
    }
    function display2(innerHtml,value){
        document.getElementById("limit1").innerHTML=innerHtml+" <span class=\"am-icon-caret-down\"></span>";
        document.getElementById("limit").value=value;
        sessionStorage.setItem('limValue',value);
        sessionStorage.setItem('limHtml',innerHtml);
    }
    function display3(innerHtml,value){
        document.getElementById("FirstLetter1").innerHTML=innerHtml+" <span class=\"am-icon-caret-down\"></span>";
        document.getElementById("FirstLetter").value=value;
        sessionStorage.setItem('letValue',value);
        sessionStorage.setItem('letHtml',innerHtml);
    }
    function display4(innerHtml,value){
        document.getElementById("zone1").innerHTML=innerHtml+" <span class=\"am-icon-caret-down\"></span>";
        document.getElementById("zone").value=value;
        sessionStorage.setItem('zoneValue',value);
        sessionStorage.setItem('zoneHtml',innerHtml);
    }
	
	function allsubmit(){
		var timeFrom = $("#d1").val();
		var timeTo = $("#d2").val();
		var keyWords=$("#search-bar").val();
		var wordCutGrade=$("#wordCutGrade").val();
		var comprehensive=$("#comprehensive").attr("value");
		var firstLetter=$("#FirstLetter").attr("value");
		var passOrNot=$("#limit").attr("value");
		var field=$("#zone").attr("value");
		
		var temp = document.createElement("form");
		  temp.action = "/search?page=1";
		  temp.method = "get";
		  temp.style.display = "none";
		  
		var opt1 = document.createElement("input");
		  opt1.name = "time_from";
		  opt1.value = timeFrom;
		//alert(opt.name+":"+opt.value);
		temp.appendChild(opt1);
		
		var opt2 = document.createElement("input");
		  opt2.name="time_to";
		  opt2.value=timeTo;
		temp.appendChild(opt2);
		
		var opt3 = document.createElement("input");
		  opt3.name="keyWords";
		  opt3.value=keyWords;
		temp.appendChild(opt3);
		
		var opt4 = document.createElement("input");
		  opt4.name="search_accurancy";
		  opt4.value=wordCutGrade;
		temp.appendChild(opt4);
		
		var opt5 = document.createElement("input");
		  opt5.name="sort_type";
		  opt5.value=comprehensive;
		temp.appendChild(opt5);
		
		var opt7 = document.createElement("input");
		  opt7.name="pinyin";
		  opt7.value=firstLetter;
		temp.appendChild(opt7);
		
		var opt8 = document.createElement("input");
		  opt8.name="is_granted";
		  opt8.value=passOrNot;
		temp.appendChild(opt8);
		
		var opt9 = document.createElement("input");
		  opt9.name="field";
		  opt9.value=field;
		temp.appendChild(opt9);
			
		document.body.appendChild(temp);
		temp.submit();
	}
    function keyCheck(e) {
        var keynum;
        <!-- 把键值转化为‘键码’ -->
        var keychar;
        if (window.event) {//IE浏览器下的事件
            keynum = e.keyCode;
        } else {//非IE浏览器下的事件
            keynum = e.which;
        }
        keychar = String.fromCharCode(keynum);
        if (keynum == "13") {
            allsubmit();
        }
    }

        /*改变搜索框左侧选项的代码*/
        function onchangeFunc(){
            sessionStorage.setItem('sBarValue',document.getElementById("sBar").value);
        }
	
</script>
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="../static/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="../static/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="../static/js/amazeui.min.js"></script>
<!-- <script src="../static/js/app.js"></script> -->
</body>
</html>